<div class="col-md-12 col-sm-12">
	
    <div class="s_title">
        <h2>Statistics <small>'user'</small></h2>
    </div>
    
    <div class="form-group row">
        <label class="control-label col-md-2 col-sm-3 ">Scene</label>
        <div class="col-md-3 col-sm-3 ">
        <select class="form-control">
            <option>Choose scene</option>
            <option>Scene: Beach</option>
            <option>Scene: Woodland</option>
            <option>ceene: Hospital</option>
            <option>ceene: Akihabara</option>
            </select>
        </div>
        
    </div>
    <div class="s_graph col-md-12">
        <img src= "https://puu.sh/FOe4Y.png">
    </div>

    


</div>
