<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Assign Prop to Scene</h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="display: block;">
        <br>
        <form class="form-horizontal form-label-left" id="assign-prop"name="form1" [formGroup]="form1">
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Scene</label>
            <div class="col-md-9 col-sm-9 ">
                <select (change)="onChangeScene($event.target.value)" class="form-control" formControlName="selectScene" name="" id="" [(ngModel)]="selectedValue">
                    <option *ngFor="let scene of scenes" [value]="scene.id">{{ scene.title }}</option>
                </select>
            </div>
          </div>
        </form>
      </div>



    </div>
  </div>

<div class="col-md-12 col-sm-12 " *ngIf="selectedValue != null">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-rocket"></i> Props</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <div style="display:none" class="alert alert-success alert-dismissible " role="alert">
                Your changes have been saved.
            </div>
            <div class="col-md-6">
                <div class="drag-container">
                    <div class="section-heading">Non-assigned Props</div>
                    <div cdkDropList #ProhibitedList="cdkDropList" [cdkDropListData]="prohibited"
                        [cdkDropListConnectedTo]="[AllowedList]" class="item-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of prohibited" cdkDrag>{{item.name}} [{{item.prop_type}}]</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="drag-container">
                    <div class="section-heading">Assigned Props</div>

                    <div cdkDropList #AllowedList="cdkDropList" [cdkDropListData]="allowed"
                        [cdkDropListConnectedTo]="[ProhibitedList]" class="item-list" (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of allowed" cdkDrag>{{item.name}} [{{item.prop_type}}]<label for="checkbox" style="position: absolute; right: 57px;">Default shown</label><input type="checkbox" id="checkbox" (change)="changeStatus(item)" [name]="item.id" [checked]="item.default_shown"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
                <button class="btn btn-success" type="button" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>
