<div class="x_title">
  <h1>Create Scene</h1>
  <div class="clearfix"></div>
</div>


<div class="x_panel">
  <div class="x_content">
    <div class="x_title">
      <h2>Scene properties</h2>
      <div class="clearfix"></div>
    </div>
    <form [formGroup]="createScene" (ngSubmit)="onSubmit(createScene.value)" id="create_Scene" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
      <div class="item form-group">
          <label class="col-form-label col-md-3 col-sm-3 label-align" for="scene-name">Scene Name <span class="required">*</span></label>
          <div class="col-md-6 col-sm-6 ">
              <input type="text" formControlName="title" required="required" class="form-control ">
          </div>
      </div>

      <div class="ln_solid"></div>
      <div class="item form-group">
          <div class="col-md-6 col-sm-6 offset-md-3">
              <button class="btn btn-primary" type="button">Cancel</button>
              <button type="submit" class="btn btn-success">Submit</button>
          </div>
      </div>
  </form>
  </div>
</div>