<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Create Prop</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <br>
            <form [formGroup]="createProp" (ngSubmit)="onSubmit(createProp.value)" id="create_prop" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Prop Type <span class="required">*</span></label>
                    <div class="col-md-9">
                        <select (change)="onChangePropType($event.target.value)" class="form-control" formControlName="propType" name="propType" id="propTypeId">
                            <option value="" disabled selected>Select prop type</option>
                            <option *ngFor="let propType of propTypes" [value]="propType">{{ propType }}</option>
                         </select>
                    </div>
                </div>
                <div class="item form-group" *ngIf="propType == 'Model' || propType == 'Background'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="prop-name">Prop Name <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input type="text" formControlName="propName" required="required" class="form-control ">
                        <div id="propNameValidate"></div>
                    </div>
                </div>
                <div class="item form-group" *ngIf="propType == 'Background'">
                    <label for="backgroundImage" class="col-form-label col-md-3 col-sm-3 label-align">Background Image <span class="required">*</span></label>
                    <div class="col-md-9">
                        <div class="custom-file">
                            <input type="file" accept="image/*" (change)="onChangeBG($event)" formControlName="backgroundImage" required="required" class="custom-file-input" id="customFileLang">
                            <label class="custom-file-label" for="customFileLang"> {{ backgroundImage }}</label>
                            <div id="backgroundValidate"></div>
                          </div>
                    </div>
                </div>
                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="model">Model <span class="required">*</span></label>
                    <div class="col-md-9">
                        <div class="custom-file">
                            <input type="file" (change)="onChangeModel($event)" formControlName="model" required="required" class="custom-file-input" id="customFileLang">
                            <label class="custom-file-label" for="customFileLang">{{ model }}</label>
                            <div id="modelValidate"></div>
                          </div>
                    </div>
                </div>
                <div class="item form-group" *ngIf="propType == 'Model' || propType == 'Background'">
                    <label for="audio" class="col-form-label col-md-3 col-sm-3 label-align">Audio </label>
                    <div class="col-md-9">
                        <div class="custom-file">
                            <input type="file" accept="audio/*" (change)="onChangeAudio($event)" formControlName="audio" class="custom-file-input" id="customFileLang" >
                            <label class="custom-file-label" for="customFileLang">{{ audio }}</label>
                          </div>
                    </div>
                </div>
                <div class="item form-group" *ngIf="audio != undefined">
                    <label class="col-form-label col-md-3 col-sm-3 label-align"></label>
                    <div class="col-md-9">
                        <label for="customRange1">Volume: <b>{{volume}}</b></label>
                        <input (input)="onInputVolume($event.target.value)" type="range" formControlName="volume" class="custom-range" id="customRange1">
                    </div>
                </div>
                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Animation Mixer </label>
                    <div class="col-md-9">
                        <input formControlName="animationMixer" required="required" class="form-control" type="text">
                    </div>
                </div>
                <br/>

                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">X-scale <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input type="number" formControlName="xScale" id="xScale" class="form-control" >
                        <div id="xScaleValidate"></div>
                    </div>
                </div>

                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Y-scale <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input type="number" formControlName="yScale" id="yScale" class="form-control" >
                        <div id="yScaleValidate"></div>
                    </div>
                </div>

                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Z-scale <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input type="number" formControlName="zScale" id="zScale" class="form-control" >
                        <div id="zScaleValidate"></div>
                    </div>
                </div>
                <br/>

                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">X-rotation <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input type="number" formControlName="xRotation" id="xRotation" class="form-control" >
                        <div id="xRotationValidate"></div>
                    </div>
                </div>

                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Y-rotation <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input type="number" formControlName="yRotation" id="yRotation" class="form-control" >
                        <div id="yRotationValidate"></div>
                    </div>
                </div>

                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Z-rotation <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input type="number" formControlName="zRotation" id="zRotation" class="form-control" >
                        <div id="zRotationValidate"></div>
                    </div>
                </div>

                <div class="backgroundButtons" *ngIf="propType == 'Background'">
                <div class="ln_solid"></div>

                <div class="col-md-9">
                    <button class="btn btn-primary" type="button">Cancel</button>
                    <button type="submit" class="btn btn-success">Create Prop</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<div class="col-md-12" *ngIf="propType == 'Model'">
    <div class="x_panel">
        <div class="x_title">
            <h2>Create Movement</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <br>
            <form [formGroup]="createProp" (ngSubmit)="onSubmit(createProp.value)" id="create_prop" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="item form-group" *ngIf="propType == 'Model'">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Movement <span class="required">*</span></label>
                    <div class="col-md-9">
                        <select (change)="onChangeMovement($event.target.value)" class="form-control" formControlName="movement" name="movement" id="">
                            <option value="" disabled selected>Select movement type</option>
                            <option *ngFor="let movement of movements" [value]="movement">{{ movement }}</option>
                         </select>
                    </div>
                </div><br/>
                <div class="row">
                <div class="col-sm-4" *ngIf="movement == 'Stationary' || movement == 'Linear' || movement == 'Rotation'">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Position</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                          <div class="item form-group">
                            <label class="col-form-label label-align">X-position</label>
                            <input type="number" formControlName="xPosition" class="form-control" >
                            <div id="xPositionValidate"></div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label  label-align">Y-position</label>
                            <input type="number" formControlName="yPosition" class="form-control" >
                            <div id="yPositionValidate"></div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label  label-align">Z-position</label>
                            <input type="number" formControlName="zPosition" class="form-control" >
                            <div id="zPositionValidate"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" *ngIf="movement == 'Linear' || movement == 'Rotation'">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Position to</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                          <div class="item form-group">
                            <label class="col-form-label label-align">X-position</label>
                            <input type="number" formControlName="xToPosition" class="form-control" >
                            <div id="xToPositionValidate"></div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label label-align">Y-position</label>
                            <input type="number" formControlName="yToPosition" class="form-control" >
                            <div id="yToPositionValidate"></div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label label-align">Z-position</label>
                            <input type="number" formControlName="zToPosition" class="form-control" >
                            <div id="zToPositionValidate"></div>
                          </div>
                          </div>
                      </div>
                    </div>

                  <div class="col-sm-4" *ngIf="movement == 'Rotation'">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Position outer</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                          <div class="item form-group">
                            <label class="col-form-label label-align">X-position</label>
                            <input type="number" formControlName="xOuterPosition" class="form-control" >
                            <div id="xOuterPositionValidate"></div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label label-align">Y-position</label>
                            <input type="number" formControlName="yOuterPosition" class="form-control" >
                            <div id="yOuterPositionValidate"></div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label label-align">Z-position</label>
                            <input type="number" formControlName="zOuterPosition" class="form-control" >
                            <div id="zOuterPositionValidate"></div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="item form-group" *ngIf="propType == 'Model' && movement == 'Linear' || propType == 'Model' && movement == 'Rotation'">
                <br/>
                <label class="col-form-label col-md-3 col-sm-3 label-align">Duration <span class="required">*</span></label>
                <div class="col-md-9">
                    <input type="number" formControlName="duration" id="duration" class="form-control">
                    <div id="durationValidate"></div>
                </div>
            </div>

            <div class="item form-group" *ngIf="propType == 'Model' && movement == 'Linear' || propType == 'Model' && movement == 'Rotation'">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Loop <span class="required">*</span></label>
                <div class="col-md-9">
                    <input type="text" formControlName="loop" required="required" class="form-control ">
                    <div id="loopValidate"></div>
                </div>
            </div>

            <div class="item form-group" *ngIf="propType == 'Model' && movement == 'Linear' || propType == 'Model' && movement == 'Rotation'">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Easing </label>
                <div class="col-md-9">
                    <input type="text" formControlName="easing" class="form-control ">
                </div>
            </div>

              <div class="item form-group" *ngIf="propType == 'Model' && movement == 'Linear' || propType == 'Model' && movement == 'Rotation' || propType == 'Model' && movement == 'Stationary'">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="triggerName">Trigger name</label>
                <div class="col-md-9">
                  <input type="text" id="triggerName" class="form-control" formControlName="triggerName">
                </div>
              </div>

              <div class="item form-group" *ngIf="propType == 'Model' && movement == 'Linear' || propType == 'Model' && movement == 'Rotation' || propType == 'Model' && movement == 'Stationary'">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="token">Token</label>
                <div class="col-md-9">
                  <input type="text" id="token" class="form-control" formControlName="token">
                </div>
              </div>

            <div class="ln_solid"></div>

            <div class="col-md-9 col-sm-9" *ngIf="movement != undefined">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button type="submit" class="btn btn-success">Create Prop</button>
            </div>
        </form>
    </div>
</div>
</div>
